

#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 600px;
    border: 50px solid #0b5e30;
    border-radius: 8px;
    align-items: center;
}
.item {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16,1fr);
}
.cell{
    background-color: rgb(226, 219, 209);
}
